@model IEnumerable<Nave>

@{
    ViewData["Title"] = "Naves";
}

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h1>Lista de Naves</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Nave" asp-action="Adicionar" class="btn btn-success">
                <i class="bi bi-plus-circle"></i>
                Adicionar
            </a>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Afiliação</th>
            <th scope="col">Classe</th>
            <th scope="col">Data de Lançamento</th>
            <th scope="col">Registro</th>
            <th scope="col">Status</th>
            <th scope="col">Propulsão</th>
            <th scope="col">Armamento</th>
            <th scope="col">Defesa</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <th scope="row">@obj.Nome</th>
                <td>@obj.Afiliacao</td>
                <td>@obj.Classe</td>
                <td>@obj.DataLancamento</td>
                <td>@obj.Registro</td>
                <td>@obj.Status</td>
                <td>@obj.Propulsao</td>
                <td>@obj.Armamento</td>
                <td>@obj.Defesa</td>
            </tr>
        }
    </tbody>
</table>